<div id="nav-menu" class="overlay">
  <div class="overlay-content steps-sampling">
    <a class="nav-option" [routerLink]="['/home']" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <a class="nav-option" [routerLink]="['/tournaments']" routerLinkActive="active" ariaCurrentWhenActive="page">Tournament</a>
    <a class="nav-option" [routerLink]="['/about-us']" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
    <a class="nav-option" [routerLink]="['/contact']" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
  </div>
</div>

<ion-button id="menu-btn" size="medium" (click)="toggleMenu()">
  <ion-icon id="menu-icon" name="menu"></ion-icon>
</ion-button>
