<div id="nav-menu" class="overlay">
  <div class="overlay-content steps-sampling">
    <a class="rockybilly" [routerLink]="['/home']" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    <a class="rockybilly" [routerLink]="['/tournaments']" routerLinkActive="active" ariaCurrentWhenActive="page">Tournament</a>
    <a class="rockybilly" routerLinkActive="active">About Us</a>
    <a class="rockybilly" routerLinkActive="active">Contact</a>
  </div>
</div>

<ion-button id="menu-btn" size="medium" (click)="toggleMenu()">
  <ion-icon name="menu"></ion-icon>
</ion-button>
