<ion-content [fullscreen]="true">
   <div class="container">
      <div class="container-div">
         <ion-img class="logo" src="../assets/images/logo.png"></ion-img>
         <h5 class="center-text">Meet the team</h5>
         <div class="swiper">
            <swiper-container 
               slides-per-view="3" 
               navigation="true" 
               pagination="true"
               speed="500">
               <div class="swiper-slide textOverImage"
               data-text="Xavier Verdú
CEO and Founder of Futplay">
                  <swiper-slide>
                     <ion-img src="../assets/images/xavi.png" alt=""></ion-img>
                  </swiper-slide>
               </div>
               <div class="swiper-slide textOverImage"
               data-text="Nelson Morera
Backend Coder">
                  <swiper-slide>
                     <ion-img src="../assets/images/nelson.png" alt=""></ion-img>
                  </swiper-slide>
               </div>
               <div class="swiper-slide textOverImage"
               data-text="Luis Carlos Rodríguez
Fullstack R&I Developer">
                  <swiper-slide>
                     <ion-img src="../assets/images/luis.png" alt=""></ion-img>
                  </swiper-slide>
               </div>
               <div class="swiper-slide textOverImage"
               data-text="Luis Ramírez
Fullstack R&I Developer">
                  <swiper-slide>
                     <ion-img src="../assets/images/lucho.png" alt=""></ion-img>
                  </swiper-slide>
               </div>
               <div class="swiper-slide textOverImage"
               data-text="José Andres Cubillo
UX/UI Lead">
                  <swiper-slide>
                     <ion-img src="../assets/images/andres.png" alt=""></ion-img>
                  </swiper-slide>
               </div>
               <div class="swiper-slide textOverImage"
               data-text="Cristina Navarro
UX/UI Research Specialist">
                  <swiper-slide>
                     <ion-img src="../assets/images/cris.png" alt=""></ion-img>
                  </swiper-slide>
               </div>
               <div class="swiper-slide textOverImage"
               data-text="Analuisa Aguilar
UX/UI Innovation Specialist">
                  <swiper-slide>
                     <ion-img src="../assets/images/analu.png" alt=""></ion-img>
                  </swiper-slide>
               </div>
               <div class="swiper-slide textOverImage" 
               data-text="Dali
Support Mascot">
                  <swiper-slide>
                     <ion-img src="../assets/images/dali.png" alt=""></ion-img>
                  </swiper-slide>
               </div>
            </swiper-container>
         </div>
      </div>
      <div class="container-div">
         <ion-grid>
            <ion-row class="ion-align-items-center">
               <ion-col size="5">
                  <h4 class="inline-text">OUR</h4>
                  <h4 class="inline-text pink-font rockybilly">Awards</h4>
                  <p>
                     Futplay has achieved impressive milestones and gained recognition for it’s innovative
                     approach in the startup community. Here are some of our notable accomplishments.
                  </p>
               </ion-col>
               <ion-col size="7">
                  <div class="swiper">
                     <swiper-container
                     navigation="true"
                     effect="coverflow" 
                     centered-slides="true"
                     slides-per-view="auto" 
                     loop="true"
                     coverflow-effect-rotate="50" 
                     coverflow-effect-stretch="100" 
                     coverflow-effect-depth="1000"
                     coverflow-effect-modifier="1" 
                     coverflow-effect-slide-shadows="true">
                        <div class="swiper-slide">
                           <swiper-slide>
                              <ion-img class="img-awards" src="../assets/images/awards1.png" alt=""></ion-img>
                           </swiper-slide>
                        </div>
                        <div class="swiper-slide">
                           <swiper-slide>
                              <ion-img class="img-awards" src="../assets/images/awards2.png" alt=""></ion-img>
                           </swiper-slide>
                        </div>
                        <div class="swiper-slide">
                           <swiper-slide>
                              <ion-img class="img-awards" src="../assets/images/awards3.png" alt=""></ion-img>
                           </swiper-slide>
                        </div>
                     </swiper-container>
                     <b class="center-text">$ 10,000 prize at CSU sunstone launch startup competition: California State Competition</b>
                  </div>
               </ion-col>
            </ion-row>
         </ion-grid>
      </div>
      <div id="exposure">
         <div class="container-div">
            <h1 class="rockybilly purple-font center-text">Exposure</h1>
            <ion-grid>
               <ion-row class="ion-align-items-center">
                  <ion-col size="6">
                     <ion-img id="img-magazine" src="../assets/images/magazine.png"></ion-img>
                  </ion-col>
                  <ion-col class="text-exposure" size="6">
                     <h5>Estrategia y Negocio</h5>
                     <h6><b>Magazine</b></h6>
                     <p>
                        Showcasing achievements, tournaments, funding, and founders' personal
                        growth through a prestigious Latin American Business Magazine
                     </p>
                     <ion-button class="ion-margin dark-btn center-btn" size="large">
                        Read
                     </ion-button>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </div>
         <ion-grid>
            <ion-row class="ion-align-items-center">
               <ion-col size="6">
                  <ion-img class="img-exposure" src="../assets/images/tv_show.png"></ion-img>
               </ion-col>
               <ion-col class="text-exposure" size="6">
                  <h5>Únicamente Fútbol</h5>
                  <h6><b>TV Show</b></h6>
                  <p>
                     Boosting our presence in the soccer community with Futv and renowned player Walter Centeno.
                  </p>
                  <ion-button class="ion-margin dark-btn center-btn" size="large">
                     Read
                  </ion-button>
               </ion-col>
            </ion-row>
            <ion-row class="ion-align-items-center">
               <ion-col size="6">
                  <ion-img class="img-exposure" src="../assets/images/radio.png"></ion-img>
               </ion-col>
               <ion-col class="text-exposure" size="6">
                  <h5>Totalmente deporte</h5>
                  <h6><b>Radio</b></h6>
                  <p>
                     Totalmente Deporte Radio gave us the opportunity to share our journey and accomplishments with a wider audience 
                  </p>
                  <ion-button class="ion-margin dark-btn center-btn" size="large">
                     Read
                  </ion-button>
               </ion-col>
               <ion-row class="ion-align-items-center">
                  <ion-col size="6">
                     <ion-img class="img-exposure" src="../assets/images/podcast.png"></ion-img>
                  </ion-col>
                  <ion-col class="text-exposure" size="6">
                     <h5>Why you should find meaning in more than one aspect of your life with Xavier Verdu</h5>
                     <h6><b>Healthy Business Podcast</b></h6>
                     <p>
                        In the podcast Xavier introduces his startup, a soccer app and reservation system that helps 
                        players create teams with friends, challenge teams, and rent soccer venues.                  
                     </p>
                     <ion-button class="ion-margin dark-btn center-btn" size="large">
                        Read
                     </ion-button>
                  </ion-col>
               </ion-row>
            </ion-row>
         </ion-grid>
      </div>
   </div>
   <ion-footer class="ion-no-border" mode="ios">
      <ion-toolbar color="any">
         <ion-grid>
            <ion-row>
               <ion-col size="12" class="ion-text-center">
                  <h5>
                     FUTPLAY
                     <br>
                     <p id="footer-subtitle">
                        Official Website
                     </p>
                  </h5>
               </ion-col>
               <ion-col size="12" class="ion-text-center">
                  <a href="">
                     <ion-icon name="logo-youtube" class="social-btn"></ion-icon>
                  </a>
                  <a href="">
                     <ion-icon name="logo-instagram" class="social-btn"></ion-icon>
                  </a>
                  <a href="">
                     <ion-icon name="logo-tiktok" class="social-btn"></ion-icon>
                  </a>
                  <a href="">
                     <ion-icon name="logo-linkedin" class="social-btn"></ion-icon>
                  </a>
                  <a href="">
                     <ion-icon name="logo-twitch" class="social-btn"></ion-icon>
                  </a>
               </ion-col>
               <ion-col size="12">
                  <ion-toolbar color="any" class="ion-text-center">
                     <ion-label>Privacy Policies</ion-label>
                  </ion-toolbar>
               </ion-col>
            </ion-row>
         </ion-grid>
      </ion-toolbar>
   </ion-footer>
</ion-content>
