<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container-div">
      <ion-grid>
         <ion-row>
            <ion-col size="4">
               <ion-img class="logo" src="../assets/images/logo.png"></ion-img>
            </ion-col>
            <ion-col size="4">
               <h5>Meet the team</h5>
            </ion-col>
         </ion-row>
      </ion-grid>
      <div class="swiper">
         <swiper-container 
         slides-per-view="3" 
         navigation="true" 
         pagination="true"
         speed="500" 
         loop="true">
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery1.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery2.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery3.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery4.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery5.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery6.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery7.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery8.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery9.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery10.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery11.png" alt=""></ion-img>
            </swiper-slide>
         </div>
         <div class="swiper-slide">
            <swiper-slide>
               <ion-img src="../assets/images/gallery12.png" alt=""></ion-img>
            </swiper-slide>
         </div>
       </swiper-container>
      </div>
    </div>
  </div>
</ion-content>
