<ion-content [fullscreen]="true">
  <div class="container">
   <ion-img id="intersect" src="../assets/images/intersect.png"></ion-img>
   <ion-img id="scratch" src="../assets/images/scratch.png"></ion-img>
     <div class="container-div">
      <ion-img class="logo" src="../assets/images/logo.png"></ion-img>
      <ion-grid class="center-container">
         <ion-row>
            <ion-col size="12" size-sm="6" class="contact-form">
               <h3 class="rockybilly center-text">Contact Us</h3>
               <p id="doubts" class="ion-margin">Do you have any doubts? Send us a message.</p>
               <form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
                  <ion-list>
                     <ion-item>
                        <ion-input placeholder="Name" name="name" formControlName="name"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-input placeholder="Email" type="email" name="email" formControlName="email"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-textarea placeholder="Message" name="message" formControlName="message"></ion-textarea>
                     </ion-item>
                  </ion-list>
                  <ion-button type="submit" class="ion-margin light-btn center-btn" size="large" [disabled]="!contactForm.valid">Send</ion-button> 
                  </form>
            </ion-col>
            <ion-col id="social-media" size="12" size-sm="6" class="center-text">
               <a target="_blank" href="https://www.youtube.com/channel/UCb8y7wpHwKWAfaALP72PJVw"><ion-icon name="logo-youtube" class="social-btn"></ion-icon></a>
               <a target="_blank" href="https://www.instagram.com/futplaycompany/"><ion-icon name="logo-instagram" class="social-btn"></ion-icon></a>
               <a target="_blank" href="https://www.tiktok.com/@futplay.co?_t=8fJRCRl9CTj&_r=1"><ion-icon name="logo-tiktok" class="social-btn"></ion-icon></a>
               <a target="_blank" href="https://www.linkedin.com/company/futpplay-co?originalSubdomain=cr"><ion-icon name="logo-linkedin" class="social-btn"></ion-icon></a>
               <a target="_blank" href="https://www.twitch.tv/futplaycompany"><ion-icon name="logo-twitch" class="social-btn"></ion-icon></a>
            </ion-col>
         </ion-row>
      </ion-grid>
     </div>
  </div>
</ion-content>
