ion-list {
    --ion-item-background: transparent;
}

.contact-form{
    bottom: 0;
}

#doubts{
    margin-top: 25px;
}

#scratch{
    position: absolute;
    bottom: 0;
    right: 0;
}

#intersect{
    position: absolute;
    bottom: 0;
    right: 0;
}