ion-list {
    --ion-item-background: transparent;
}

a{
    position:relative;
    z-index: 444;
}

ion-button{
    margin-top: 25px;
}

.contact-form{
    bottom: 0;
}

#doubts{
    margin-top: 25px;
}

#scratch{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

#intersect{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
}

#social-media{
    @media (max-width: 900px) {
        margin-top: 25%;
    }
}

@media (max-width: 900px) {
    #intersect{
        display: none;
    }
    #scratch{
        display: none;
    }
}