<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container-div">
      <ion-grid class="center-container">
         <ion-row>
            <ion-col size="6">
               <ion-row>
                  <ion-col size="12">
                     <h4 class="ion-margin pink-font">FUTPLAY</h4>
                     <h4 class="ion-margin purple-font rockybilly">Tournaments</h4>
                  </ion-col>
                  <ion-col size="12">
                     <p class="ion-margin">
                        Get ready to elevate your game with FutPlay!
                        As a user, you can qualify for our thrilling cashback tournaments, where big prizes and intense 
                        competition await.
                     </p>
                  </ion-col>
               </ion-row>
            </ion-col>
            <ion-col size="6">
               <ion-row>
                  <ion-col class="first-img" size="6">
                     <img src="../assets/images/Izquierda.png" alt="">
                  </ion-col>
                  <ion-col class="second-img" size="6">
                     <img src="../assets/images/Adrenaline.png" alt="">
                  </ion-col>
               </ion-row>
            </ion-col>
         </ion-row>
      </ion-grid>
   </div>
  </div>
</ion-content>
