/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

h1, h2, h3, h4{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 88px;
}

h5{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 68px;
}

h6{
  font-family: 'Roboto', sans-serif; 
  font-size: 68px;
  font-weight: 100;
}

p{
  font-family: 'Roboto', sans-serif; 
  font-size: 25px;
  font-weight: 300;
}

ion-content {
  --background: var(--ion-color-primary);
}

ion-icon{
  color: var(--ion-color-secondary);
}

.container {
  position: relative;
  background: rgb(58,17,118);
  background: linear-gradient(90deg, rgba(58,17,118,1) 50%, rgba(170,31,255,1) 100%);
  color: #fff;
}

.container-div {
  margin: 0px 50px;
  padding-top: 50px;
  position: relative;
  min-height: 100vh;
}

.container-div::before{
  position: absolute;
  z-index: -1;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.rockybilly {
  font-family: "Rockybilly", sans-serif;
  font-size: 40px;
  margin-top: 50px;
}

.pink-font {
  color: #fc14ff;
}

.filter-pink{
  filter: invert(22%) sepia(95%) saturate(3456%) hue-rotate(267deg) brightness(100%) contrast(117%);
}

.light-purple-font{
  color: var(--ion-color-secondary);
}

.yellow-font{
  color: #FFF900;
}

.center-img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.heavy-font{
  color: var(--ion-color-primary);
  font-style: 600;
}

.light-btn {
  --background: white;
  --color: var(--ion-color-secondary);
  --background-hover: var(--ion-color-secondary);
}

.traction-img{
  border: #fff solid 1px;
}

.inline-text{
  display: inline;
}

.traction-stats{
  padding: 0 10%;
}

.traction-footer{
  background: #FFF;
  color: var(--ion-color-secondary);
  width: 100%;
  height: auto;
  font-size: 48px;
  ion-icon{
    padding-right: 1%;
    font-size: 48px;
  }
}

.social-btn{
  margin: 0px 5px;
  color: #FFF;
  font-size: 48px;
}

.swiper{
  padding: 2% 10% 4%;
}

.logo{
  height: 200px;
  width: 30%;
}