  
 
ion-content{
  --background: var(--ion-color-primary);
}

.container {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  color: #fff;
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("/assets/images/main.jpg");
    min-height: 100vh;
    min-width: 100vw;
    background-position: 50% calc(50% - 50px);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.container-div{
  position: relative;
  min-height: 100vh;
  height:  100vh
}
.small-img{
  height: 200px;
}
.center-text{
  display:flex;
  justify-content:center;
  align-items:center;
}

.container-div {
  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //background-image: url("/assets/vectors/cropVector1.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.center-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

h3{
  font-family: 'Rockybilly', sans-serif;
  font-size: 40px;
  margin-top: 0;
}

ion-grid, ion-row, ion-col{
  margin: 0;
  padding: 0;
}

ion-segment {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 500px;
  height: auto;
  border-radius: 5px;
  --background:#fff;
  padding: 0.5rem;
}
ion-segment-button{
  --indicator-box-shadow: transparent!important;
  //border-radius: 2.5rem !important;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid white;
  min-width: auto;
  text-transform: none;
  font-size: 18px;
  font-weight: bold;
  --background:white;
  --color:var(--ion-color-primary);
  --background-checked: var(--ion-color-primary)!important;
  --color-checked: white;
  --indicator-color : transparent!important; /* this solution */
  &:hover {
    border: 1px solid var(--ion-color-primary);
  }
  }
  .imgs{
    img{
      display: block;
      height: 400px;
      margin: 0 auto;
    }
  }

  .center-img{
    height: 400px;
    display: block;
    margin: 0 auto;
  }

#main-title{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 350px;
  letter-spacing: -10px;
  margin-bottom: 0;
}