.auto-container{
  @media (max-width: 900px) {
    padding-top: 10%;
    position: relative;
    top: 0;
    transform: none;
    min-height: auto;
  }
}

#first-img{
  position: absolute;
  margin-top: 4%;
}

#second-img{
  position: absolute;
  margin-left: 35%;
  @media (max-width: 900px) {
    margin-left: 40%;
  }
}

#pc-col{
  @media (max-width: 900px) {
    order: 1;
  }
}

#whatis-images{
  margin-top: -5%;
}

#double-background{
  position: relative;
  width: 100%;
  height: 200vh;
  background-image: url("/assets/images/game_double_background.png");
}

#double-background::before{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(50% 0%, 100% 70%, 100% 100%, 0 100%, 0 0);
  z-index: -1;
}

#field-background-img {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("/assets/images/main_bg.png");
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  background-position: 50% calc(50% - 10px);
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: 900px) {
    background-image: url("/assets/images/main_bg_vertical.png");
    min-height: auto;
    max-width: auto;
    height: 250px;
  }
}

#game-background-img {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("/assets/images/background_game.png");
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  background-position: 50% calc(50% - 50px);
  background-size: cover;
  background-repeat: no-repeat;
}

#main-title {
  font-size: 20rem;
  letter-spacing: -10px;
  margin-bottom: 0;
}

#main-subtitle {
  margin-top: 0;
}

#landing {
  margin: 0;
  text-align: center;
}

#sub-landing {
  margin: 0px;
  background-color: #fff;
}

#whatis-title {
  margin-top: -2px;
  margin-left: 100px;
  z-index: 0;
  @media (max-width: 900px) {
    font-size: 40px;
  }
}

#whereis-title {
  margin-top: -20px;
  margin-bottom: 10%;
  z-index: 0;
}

.traction-text{
  @media (max-width: 900px) {
    font-size: 15px;
  }
}

#footer-subtitle{
  font-size: 25px;
  font-weight: 600;
}