<ion-content [fullscreen]="true">
   <div class="container">
      <div id="field-background-img">
         <ion-grid class="container-div" id="landing">
            <span class="center-container">
               <ion-row>
                  <ion-col size="12">
                     <h1 id="main-title">FUTPLAY</h1>
                  </ion-col>
                  <ion-col size="12">
                     <h3 class="rockybilly" id="main-subtitle">Reviving The Dream</h3>
                  </ion-col>
               </ion-row>
            </span>
         </ion-grid>
         <ion-segment id="navbar" value="home" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="home">
               <ion-label>Home</ion-label>
            </ion-segment-button>
            <ion-segment-button value="tournament">
               <ion-label>Tournament</ion-label>
            </ion-segment-button>
            <ion-segment-button value="about">
               <ion-label>About Us</ion-label>
            </ion-segment-button>
            <ion-segment-button value="contact">
               <ion-label>Contact</ion-label>
            </ion-segment-button>
         </ion-segment>
      </div>
      <div class="half-container-div" id="sub-landing">
         <ion-grid class="center-container">
            <ion-row>
               <ion-col size="2" offset="3">
                  <ion-img class="logo" src="../assets/vectors/BookBrand_sinfondo1.svg"></ion-img>
               </ion-col>
               <ion-col size="4" class="center-text">
                  <p class="ion-margin heavy-font">
                     Play exhilarating soccer matches, build dream teams with friends, and rent top soccer venues within clicks.
                  </p>
               </ion-col>
               <ion-col size="12">
               </ion-col>
            </ion-row>
         </ion-grid>
      </div>
      <div class="container-div">
         <ion-grid class="center-container">
            <ion-row>
               <ion-col size="6">
                  <ion-row>
                     <ion-col size="12">
                        <h4 class="ion-margin rockybilly pink-font">What is</h4>
                        <h4 class="ion-margin purple-font" id="whatis-title">FUTPLAY ?</h4>
                     </ion-col>
                     <ion-col size="12">
                        <p class="ion-margin">
                           We are on a mission to keep the <b>soccer dream</b> alive and bring the heat!
                        </p>
                        <p class="ion-margin">
                           FutPlay is the only app and reservation system that creates lifelong experiences
                           for <b>soccer enthusiasts</b> who want to make their team triumph in an era where sports
                           success is limited.
                        </p>
                     </ion-col>
                  </ion-row>
               </ion-col>
               <ion-col size="6">
                  <ion-row>
                     <ion-col class="first-img" size="6">
                        <img src="../assets/images/Izquierda.png" alt="">
                     </ion-col>
                     <ion-col class="second-img" size="6">
                        <img src="../assets/images/Adrenaline.png" alt="">
                     </ion-col>
                  </ion-row>
               </ion-col>
            </ion-row>
         </ion-grid>
      </div>
      <div id="double-background">
         <div class="container-div">
            <ion-grid>
               <ion-row>
                  <ion-col size="6">
                     <h4 class="ion-margin rockybilly">Where to find</h4>
                     <h4 class="ion-margin light-purple-font" id="whereis-title">FUTPLAY</h4>
                     <h5 class="ion-margin">Mobile App</h5>
                     <p class="ion-margin">
                        Our app delivers a game-changing experience, 
                        offering you a hassle-free way to build your club and challenge rivals right in your neighborhood.                   
                     </p>
                     <ion-button class="ion-margin light-btn" size="large">
                        <ion-icon slot="start" name="logo-google-playstore"></ion-icon>
                        Android
                     </ion-button>
                     <ion-button class="ion-margin light-btn" size="large">
                        <ion-icon slot="start" name="logo-apple-appstore"></ion-icon>
                        iOS
                     </ion-button>
                  </ion-col>
                  <ion-col size="6">
                     <img id="phone-img" src="../assets/vectors/telefonos1.svg" alt="">
                  </ion-col>
               </ion-row>
            </ion-grid>
         </div>
         <div class="container-div">
            <ion-grid>
               <ion-row>
                  <ion-col size="6">
                     <img src="../assets/images/Screen.png" alt="">
                  </ion-col>
                  <ion-col size="6">
                     <ion-col size="12">
                        <h5 class="ion-margin">Reservation System</h5>
                        <p class="ion-margin">
                           Our free online reservation system makes managing
                           bookings a breeze and helps field owners to attract new customers from our vibrant user base.                    
                        </p>
                     </ion-col>
                     <ion-col size="6">
                        <ion-button class="ion-margin light-btn" size="large">
                           Fill Form
                        </ion-button>
                     </ion-col>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </div>
      </div>
      <div id="game-background-img">
         <ion-grid class="container-div">
            <ion-row class="ion-justify-content-center ion-align-items-center center-container">
               <ion-col class="ion-text-center" size="12">
                  <h4 class="ion-margin inline-text rockybilly">
                     <div></div>
                     Next
                  </h4>
                  <h4 class="ion-margin inline-text">Tournament</h4>
               </ion-col>
               <ion-col size="6" class="ion-text-center">
                  <p class="ion-margin">
                     <b class="yellow-font">32 teams</b> from Costa Rica will battle it out on a
                     <b>World Cup Format</b> as they compete for the grand prize of <b>C 500,000</b>.                       
                  </p>
                  <ion-button class="ion-margin light-btn" size="large">
                     Know more
                  </ion-button>
               </ion-col>
            </ion-row>
         </ion-grid>
      </div>
      <div class="container-div">

         <h4 class="ion-margin inline-text rockybilly yellow-font">
            Traction
         </h4>
         <h4 class="ion-margin inline-text" style="margin: -10px;">up to date</h4>
         <ion-grid [fixed]="true" class="traction-stats">
            <ion-row class="ion-justify-content-center ion-align-items-center">
               <ion-col size="4">
                  <ion-img class="traction-img" src="../assets/images/traction_users.png" alt=""></ion-img>
                  <div class="traction-footer center-text">                  
                     <ion-icon name="person" class="inline-text"></ion-icon>
                     <p class="ion-text-uppercase inline-text"><b>700</b> users</p>
                  </div>
               </ion-col>
               <ion-col size="4">
                  <ion-img class="traction-img" src="../assets/images/traction_teams.png" alt=""></ion-img>
                  <div class="traction-footer center-text">
                     <ion-icon name="people" class="inline-text"></ion-icon>
                     <p class="ion-text-uppercase inline-text"><b>100</b> teams</p>
                  </div>
               </ion-col>
               <ion-col size="4">
                  <ion-img class="traction-img" src="../assets/images/traction_games.png" alt=""></ion-img>
                  <div class="traction-footer center-text">
                     <ion-icon name="football" class="inline-text"></ion-icon>
                     <p class="ion-text-uppercase inline-text"><b>9</b> games</p>
                  </div>
               </ion-col>
               <ion-col size="6">
                  <ion-img class="traction-img" src="../assets/images/traction_field.png" alt=""></ion-img>
                  <div class="traction-footer center-text">
                     <ion-icon src="../assets/icon/stadium.svg" class="inline-text filter-pink"></ion-icon>
                     <p class="ion-text-uppercase inline-text"><b>5</b> fields</p>
                  </div>
               </ion-col>
               <ion-col size="6">
                  <ion-img class="traction-img" src="../assets/images/traction_tournament.png" alt=""></ion-img>
                  <div class="traction-footer center-text">
                     <ion-icon name="trophy" class="inline-text"></ion-icon>
                     <p class="ion-text-uppercase inline-text"><b>1</b> tournament</p>
                  </div>
               </ion-col>             
            </ion-row>
         </ion-grid>
      </div>
      <ion-footer class="ion-no-border" mode="ios">
         <ion-toolbar color="any">
            <ion-grid>
               <ion-row>
                  <ion-col size="12" class="ion-text-center">
                     <h5>
                        FUTPLAY
                        <br>
                        <p id="footer-subtitle">
                           Official Website
                        </p>
                     </h5>
                  </ion-col>
                  <ion-col size="12" class="ion-text-center">
                     <a href=""><ion-icon name="logo-youtube" class="social-btn"></ion-icon></a>
                     <a href=""><ion-icon name="logo-instagram" class="social-btn"></ion-icon></a>
                     <a href=""><ion-icon name="logo-tiktok" class="social-btn"></ion-icon></a>
                     <a href=""><ion-icon name="logo-linkedin" class="social-btn"></ion-icon></a>
                     <a href=""><ion-icon name="logo-twitch" class="social-btn"></ion-icon></a>
                  </ion-col>
                  <ion-col size="12">
                     <ion-toolbar color="any" class="ion-text-center">
                        <ion-label>Privacy Policies</ion-label>
                     </ion-toolbar>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </ion-toolbar>
      </ion-footer>
   </div>
</ion-content>
